<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <title>Html Generated</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="author" content="htmlGenerator">
    <link href="https://fonts.googleapis.com/css?family=ABeeZee&display=swap" rel="stylesheet">

    <link th:href="@{/css/board/edit.css}" rel="stylesheet">

    <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }

    </style>

</head>

<body>
<div class="e31_8">
    <div class="e31_9">
        <div class="e31_10"></div>
    </div>
    <div class="e31_11">
        <div class="e31_12"></div>
        <div class="e31_13">
            <div class="e31_14">
                <div class="e31_15"></div>
                <span class="e31_16">Sign In</span></div>
            <span class="e31_17">LogicList</span></div>
        <div class="e31_21"></div>
        <div class="e31_32">
            <div class="e31_33"></div>
            <span class="e31_34">Tistory </span><span class="e31_35">Github</span><span
                class="e31_36">Instagram</span><span class="e31_37">LSW</span></div>
        <div class="e32_13">
            <div class="e32_10"></div>
            <span class="e32_12">등록</span></div>
    </div>
</div>
</body>
</html>