<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">

    <title>Html Generated</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="author" content="htmlGenerator">
    <link href="https://fonts.googleapis.com/css?family=ABeeZee&display=swap" rel="stylesheet">

    <link th:href="@{/css/board/update.css}" rel="stylesheet">


    <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }

    </style>

</head>

<body>
<div class=e32_16>
    <div class=e32_17>
        <div class="e32_18"></div>
    </div>
    <div class=e32_19>
        <div class="e32_20"></div>
        <div class=e32_21>
            <div class=e32_22>
                <div class="e32_23"></div>
                <span class="e32_24">Sign In</span></div>
            <span class="e32_25">LogicList</span></div>
        <div class="e32_26"></div>
        <div class=e32_27>
            <div class="e32_28"></div>
            <span class="e32_29">Tistory </span><span class="e32_30">Github</span><span
                class="e32_31">Instagram</span><span class="e32_32">LSW</span></div>
        <div class=e32_34>
            <div class="e32_35"></div>
            <span class="e32_36">삭제
</span></div>
        <div class=e32_37>
            <div class="e32_38"></div>
            <span class="e32_39">등록</span></div>
    </div>
</div>
</body>
</html>