<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <title>LogicList</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="author" content="htmlGenerator">
    <link href="https://fonts.googleapis.com/css?family=ABeeZee&display=swap" rel="stylesheet">

    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/common.css}" rel="stylesheet">

    <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }

    </style>

</head>

<body>
<div >
    <div class="back_color">
        <div class=main>
            <div class=e12_32>
                <div class=e0_43>
                    <div class="e0_44" th:each="board : ${boards}">
                        <span class="content_item" th:text="${board.title}"></span>
                    </div>
                    <!--                <span class="e0_46">Calabasas, CA</span>-->
                </div>
                <form  th:action="@{/board/list}" class=e0_50>
                    <div class="e0_51"></div>
                    <button class="e0_55" type="submit">Search</button>

                    <input class="e0_52" placeholder="Search For Tips" name="keyword" id="keyword">
                    <div class="e0_57"></div>
                    <div class=e1_139>
                        <div class="e0_94"></div>
                    </div>
                </form>
            </div>
            <div class=e12_33>
                <div class=e12_34>
                    <div class=e12_36></div>
                </div>
                <div class=e12_42>
                    <div class="e12_43"></div>
                    <span class="e12_45">Calabasas, CA</span>
                    <div class=e14_114>
                        <div class="e14_110"></div>
                        <div class=e14_117>
                            <div class="e14_116"></div>
                        </div>
                    </div>
                </div>
                <div class=e12_46>
                    <div class="e12_47"></div>
                    <div class=e12_48>
                        <div class="e12_49"></div>
                        <span class="e12_50">Submit</span></div>
                    <span class="e12_51">Input TodoList...</span>
                    <div class="e12_52"></div>
                    <div class=e12_53>
                        <div class="ei12_53_0_94"></div>
                    </div>
                </div>
            </div>
            <div class=e0_60>
                <!--            <div class=e0_61>-->
                <!--                <div class="e0_62"></div>-->
                <!--                <span class="e0_63">Sign In</span></div>-->
                <div class="e0_21"th:if="${user}">

                    <span class="e0_63">[[${user}]] 님 환영합니다.</span>
                </div>
                <div class="e0_21"th:if="${user}">
                    <button th:onclick="|location.href='@{/view/logout}'|"  class="button">Logout</button>
                </div>
                <div th:onclick="|location.href='@{/view/login}'|"     class="e0_62"th:unless="${user}">

                    <a class="e0_63">Sign In</a>
                </div>
            </div>
            <div class=e12_29>
                <div class="head_title">
                    <span class="e0_58">개발 팁 및 TodoList</span>
                    <button class="head_board" th:if="${user}" th:onclick="|location.href='@{/board/edit}'|" >POST</button>
                </div>
                <span class="e0_59">Find your Logic</span>
            </div>
            <div class="logo">
                <span th:onclick="|location.href='@{/view/main}'|"   class="logo_text">LogicList</span>
            </div>
            <div class=footer>
                <span class="e0_26">Tistory </span><span class="e0_27">Github</span>
                <span class="e0_28">Instagram</span><span class="e0_24">LSW</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>